@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Categories";
}
<section id="product1" class="section-p1">
    <h2>Categories</h2>
    <p>New Collection</p>
    @if (User.IsInRole("Admin"))
    {
        <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
    }
    <div class="pro-container">
        @foreach (var category in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@category.nomCategorie</h5>

                        <div class="image-grid d-flex flex-wrap">
                            @foreach (var imageUrl in category.imageUrls)
                            {
                                <div class="grid-image" style="width: 50%; height: 100px; background-size: cover; background-image: url('@imageUrl');"></div>
                            }
                        </div>
                        <a asp-controller="Produits" asp-action="Index" asp-route-idCategorie="@category.id" class="btn btn-secondary btn-sm mt-3">Voir Produits</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

